@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&family=Roboto+Slab:wght@500&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    text-align: center;
  
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
   margin: auto;
    width: 100vw;
}
.centre{
    max-width: 30vw;
}
.flex{
  display: flex;
}
.flex-direction{
    flex-direction: column;
}
.button{
    padding: 20px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
.container input{
    margin: 0;
    padding: 10px 20px;
    font-size: 1rem;
}